# Toronto Licensed Child Care

In [54]:
import pandas as pd
import os
import requests
import urllib.request
from arcgis.gis import GIS
from arcgis.geocoding import geocode
from IPython.display import display

In [55]:
url = 'http://opendata.toronto.ca/childrens.services/licensed-child-care-centres/child-care.csv'
response = requests.get(url)
s = requests.get(url).text
lcc_df = pd.read_csv(StringIO(s))

In [56]:
gis = GIS()
map1 = gis.map()
map1

MapView(layout=Layout(height='400px', width='100%'))

In [57]:
toronto = geocode("Toronto")[0]
map1.extent = toronto['extent']
map1.zoom = 14

In [58]:
lcc_df = lcc_df[['STR_NO', 'STREET','LOC_NAME','TOTSPACE','LONGITUDE','LATITUDE']]
lcc_df

,STR_NO,STREET,LOC_NAME,TOTSPACE,LONGITUDE,LATITUDE
0,2920,LAWRENCE AVE E,Network Bendale Acres Child Care Centre,49,-79.252159,43.754895
1,1087,LILLIAN ST,The Munchkin Manor Daycare & Early Learning Ce...,68,-79.410405,43.798487
2,33,MALLARD RD,St. George Mini School - Mallard,57,-79.349584,43.747288
3,2,WEMBLEY RD,Alive Montessori & Private School,24,-79.426064,43.701896
4,2379,LAKE SHORE BLVD W,Martin Luther Church Day Nursery B & A,30,-79.488002,43.615341
...,...,...,...,...,...,...
1031,76,ANGLESEY BLVD,Hillside Montessori School,24,-79.528990,43.665146
1032,25,OLD YORK MILLS RD,Yes I Can Nursery School,24,-79.404312,43.743404
1033,383,HURON ST,Huron Playschool Co-Operative,20,-79.400742,43.665917
1034,630,SPADINA AVE,Kodomoen Childcare Centre,24,-79.402393,43.662549
1035,516,THE KINGSWAY,Ukrainian Co-Op Nursery School,48,-79.548194,43.673585

In [59]:
lcc_df['ADDRESS'] = lcc_df['STR_NO']+ " " +lcc_df['STREET']

In [60]:
lcc_df = lcc_df[['LOC_NAME','ADDRESS','TOTSPACE','LONGITUDE','LATITUDE']]
lcc_df.columns = ['Name','Address','Total Capacity','Longitude','Latitude']

In [61]:
lcc_df

,Name,Address,Total Capacity,Longitude,Latitude
0,Network Bendale Acres Child Care Centre,2920 LAWRENCE AVE E,49,-79.252159,43.754895
1,The Munchkin Manor Daycare & Early Learning Ce...,1087 LILLIAN ST,68,-79.410405,43.798487
2,St. George Mini School - Mallard,33 MALLARD RD,57,-79.349584,43.747288
3,Alive Montessori & Private School,2 WEMBLEY RD,24,-79.426064,43.701896
4,Martin Luther Church Day Nursery B & A,2379 LAKE SHORE BLVD W,30,-79.488002,43.615341
...,...,...,...,...,...
1031,Hillside Montessori School,76 ANGLESEY BLVD,24,-79.528990,43.665146
1032,Yes I Can Nursery School,25 OLD YORK MILLS RD,24,-79.404312,43.743404
1033,Huron Playschool Co-Operative,383 HURON ST,20,-79.400742,43.665917
1034,Kodomoen Childcare Centre,630 SPADINA AVE,24,-79.402393,43.662549
1035,Ukrainian Co-Op Nursery School,516 THE KINGSWAY,48,-79.548194,43.673585

In [62]:
lcc_df.isna().sum()

Name              0
Address           0
Total Capacity    0
Longitude         7
Latitude          7
dtype: int64

In [63]:
lcc_df[lcc_df['Longitude'].isnull()]

# Later on I need to deal with the 7 NaN - can use geocode to get longitude/latitude based on address + city

,Name,Address,Total Capacity,Longitude,Latitude
35,All My Children Child Care,1590 SANDHURST CIRCLE,60,NaN,NaN
66,Lily's House Day Care Centre,1032 COXWELL AVE,16,NaN,NaN
228,Queen's Park Child Care Centre,7 QUEENS PARK CRES E,88,NaN,NaN
229,Kids & Company King And Highline,1100 KING ST W,74,NaN,NaN
308,Creative Minds Montessori Academy,285 LAWSON RD,61,NaN,NaN
373,George Brown - Richmond Adelaide Childcare Centre,130 ADELAIDE ST W,65,NaN,NaN
455,Growing Steps Child Care Centre,4105 LAWRENCE AVE E,142,NaN,NaN

In [64]:
lcc_df = lcc_df[lcc_df['Longitude'].notna()]

In [65]:
lcc_df = lcc_df.reset_index()
del lcc_df['index']

## My problem:
## If I try to load the complete dataframe, get error.

In [66]:
lcc1 = gis.content.import_data(lcc_df)

TypeError: 'Response' object is not subscriptable

In [ ]:
map1.add_layer(lcc1)

## If I try to load first 1018 rows, its ok, so something amiss when I get to row 1019
## I looked at the record and nothing strange with it
## I tried droppping row 1019, reindexing, and loading, but get same error

In [67]:
lcc_df2 = lcc_df.head(1018)
lcc1 = gis.content.import_data(lcc_df2)
map1.add_layer(lcc1)